{% extends 'base.html' %}

{% block title %}Files{% endblock title %}

{% block header %}Files{% endblock header %}

{% block head %}
  <script type="text/javascript">
    var selected = null

    function get_selected() {
      return fetch("get_active_file")
        .then(function(res){
          return res.text();
        }).then(function(text){
          var new_selected = "card-"+text;
          show_active(new_selected);
          selected = new_selected;
          console.log(selected);
          return text;
        });
    }

    function set_selected(obj) {
      // console.log(obj.textContent.trim());
      var last_selected = document.getElementById("card-" + selected);
      show_active(obj.id);

      var selected = obj.textContent.trim();
      console.log(selected);
      var r = fetch("set_active_file/"+selected, {method:"POST"})
          .then(function(response){
              console.log("fetch response");
                if(response.ok) {
                    console.log("OKAY");
                    console.log(response);
                    window.location.href = '/';
                }
                else{
                  console.log("NOT OKAY");
                  window.location.reload();
                }
              });
    }

    function show_active(element_id) {
      if(selected) {
        document.getElementById(selected).classList.remove("border-success");
        document.getElementById(selected).classList.remove("border-success");
        document.getElementById(element_id).classList.add("bg-success");
      }
      else {
        document.getElementById(element_id).classList.add("border-success");
      }
    }

    function show_delete(element_id) {
      document.getElementById(element_id).classList.add("bg-danger");
    }

  </script>
{% endblock head %}



{% block content %}
  <body onload="get_selected()">

  {% if files %}
    {% for file in files %}
      <div id="card-{{ file }}" class="card my-1 py-0" onclick="set_selected(this)"> 
        <div class="card-body">
          <div class="d-flex align-items-center flex-row">
            <div class="mr-auto w-75">
              {{ file }}
            </div>
            <div class="flex-shrink">
              <form method="post" action="/delete/{{ file }}" style="display:inline">
                <button class="btn btn-danger align-middle m-0" type="submit" onclick="show_delete('card-'+'{{ file }}');event.cancelBubble=true;">
                    <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="card my-1">
    <div class="card-body py-2 my-2">
      <form method="post" action="/delete_all" style="display:inline">
        <button class="btn btn-danger float-right" type="submit">
            <i class="fas fa-trash-alt"> Delete All</i>
        </button>
      </form>
      <form id="upload_form" method=post enctype=multipart/form-data style="display:inline">
        <input type="file" accept=".hpgl,.plt" style="display:none;" id="file" name="file" onchange="document.getElementById('upload_form').submit();"/>
        <button class="btn btn-primary float-left mx-1" type="button" value="Upload" onclick="document.getElementById('file').click();">
          <i class="fas fa-file-upload"> Upload</i>
        </button>
      </form>
    </div>
  </div>
{% endblock content %}
