{% extends 'base.html' %}

{% block title %}Files{% endblock title %}

{% block header %}Files{% endblock header %}

{% block head %}
  <script type="text/javascript">
    var selected = null

    function get_selected() {
      return fetch("get_active_file")
        .then(function(res){
          return res.text();
        }).then(function(text){
          selected = "card-"+text;
          console.log(selected);
          return text;
        });
    }

    function update_filename(obj) {
      document.getElementById('filelabel').innerHTML = obj.value;
      // console.log(obj.value);
    }

    function set_selected(obj) {
      // console.log(obj.textContent.trim());
      var last_selected = document.getElementById("card-" + selected);

      if (last_selected != null)
        last_selected.classList.remove("bg-success");
      selected = obj.textContent.trim();
      obj.classList.add("bg-success");
      fetch("set_active_file/"+selected, {method:"POST"});
      window.location.href = '/';
      // console.log(selected);
    }
  </script>
{% endblock head %}



{% block content %}
  <body onload="get_selected()">

  {% if files %}
    {% for file in files %}
      {% if file == selected  %} 
      <div id="card-{{ file }}" class="card my-1 py-0 bg-success" onclick="set_selected(this)">
      {% else %} 
      <div id="card-{{ file }}" class="card my-1 py-0" onclick="set_selected(this)"> 
      {% endif %}
        <div class="card-body">
<!--           {% if file == selected_file  %} 
          <i class="far fa-check-square"></i>
          {% else %} 
          <i class="far fa-square"></i> 
          {% endif %} -->
          <span>
            {{ file }}
          </span>
          <button class="btn btn-danger float-right" onclick="alert('delete');event.cancelBubble=true;">
            <i class="fas fa-trash-alt float-right"></i>
          </button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="card my-1">
    <div class="card-body py-2">
      <form method=post enctype=multipart/form-data>
        <!-- <input type="file" name="file" class="btn"> -->
        <!-- <input type=submit value=Upload> -->
        <label id="filelabel" for="loadFile">No File Selected</label>
        <input class="btn" type="button" id="loadFile" value="Select File" onclick="document.getElementById('file').click();" onchange="update_filename(this);" />
        <input type="file" style="display:none;" id="file" name="file" onchange="update_filename(this)"/>

        <button type="submit" class="btn" value="Upload">
          <i class="fas fa-file-upload btn float-left"> Upload</i>
        </button>
      </form>

      <form method="post" action="/delete_all">
        <button class="btn btn-danger float-right" type="submit">
            <i class="fas fa-trash-alt float-right"> Delete All</i>
        </button>
      </form>
    </div>
  </div>
{% endblock content %}
