{% extends 'base.html' %}

{% block title %}Files{% endblock title %}

{% block header %}Files{% endblock header %}

{% block content %}
  <body>
    <script type="text/javascript">
      var selected = '{{ selected_file }}';
      console.log(selected);

      function update_filename(obj) {
        document.getElementById('filelabel').innerHTML = obj.value;
        // console.log(obj.value);
      }

      function set_selected(obj) {
        // console.log(obj.textContent.trim());
        var last_selected = document.getElementById("card-" + selected);
        if (last_selected != null)
          last_selected.classList.remove("bg-success");
        selected = obj.textContent.trim();
        obj.classList.add("bg-success");
        fetch("set_active_file/"+selected), {method:"POST"};
        // console.log(selected);
      }
    </script>

  {% if files %}
    {% for file in files %}
      {% if file == selected_file  %} 
      <div id="card-{{ file }}" class="card bg-success" onclick="set_selected(this)">
      {% else %} 
      <div id="card-{{ file }}" class="card" onclick="set_selected(this)"> 
      {% endif %}
        <div class="card-body">
<!--           {% if file == selected_file  %} 
          <i class="far fa-check-square"></i>
          {% else %} 
          <i class="far fa-square"></i> 
          {% endif %} -->
          <span>
            {{ file }}
          </span>
          <button class="btn btn-danger float-right">
            <i class="fas fa-trash-alt float-right"></i>
          </button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="card">
    <div class="card-body">
      <form method=post enctype=multipart/form-data>
        <!-- <input type="file" name="file" class="btn"> -->
        <!-- <input type=submit value=Upload> -->
        <label id="filelabel" for="loadFile">No File Selected</label>
        <input class="btn" type="button" id="loadFile" value="Select File" onclick="document.getElementById('file').click();" onchange="update_filename(this);" />
        <input type="file" style="display:none;" id="file" name="file" onchange="update_filename(this)"/>

        <button type="submit" class="btn" value="Upload">
          <i class="fas fa-file-upload btn float-left"> Upload</i>
        </button>
      </form>

      <form method="post" action="/delete_all">
        <button class="btn btn-danger float-right" type="submit">
            <i class="fas fa-trash-alt float-right"> Delete All</i>
        </button>
      </form>
    </div>
  </div>
{% endblock content %}
