{% extends 'base.html' %}

{% block title %}Main{% endblock title %}

{% block header %}Main{% endblock header %}

{% block content %}
  <div class="card">
    <div class = "card-body">
      <h5 class="card-title">
        Files
      </h5>
      <p class="card-text">
        <button class="btn btn-primary float-left" onclick="window.location.href = '/files';">
          <i class="fas fa-file"> {{ selected_file }} </i>
        </button>
      </p>
    </div>
  </div>  
  <div class="card">
    <div class = "card-body">
      <h5 class="card-title">
        Controls
      </h5>
        <form method="post" action="/run_file/{{ selected_file }}">
          <button class="btn btn-success" type="submit">
              <i class="fas fa-play"> Run File</i>
          </button>
        </form>
    </div>
  </div>
{% endblock content %}
